*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    " header "
    "main ";

}
header{
    grid-area: header;
    background-color: aqua;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "icono navegador perfil";
}
.icono{
    grid-area: icono;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono img{
    max-width: 100%;
}
.fontBar{
    display: none;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    margin: auto;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: #fcc8ff;
    text-decoration: none;
    
}


.logoBar{
    color: aqua;
}
.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil i{
    font-size: 25px;
}
.perfil a{
    color: #fcc8ff;
    text-decoration: none;
}

.navegador{
    grid-area: navegador;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil{
    grid-area: perfil;
    background-color: black;
}
ul li a:hover{
    border: 2px #fcc8ff solid;
   }


/* **************************************************************** */
main{
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    "contenedor1"
    "contenedor2";
    background-image: url("../img/john\ celu.jpg");
    background-repeat:no-repeat ;
    background-size:cover;
    background-position:  top center;
}
.contenedor1{
    grid-area: contenedor1;
    /* background-repeat:no-repeat ;
    background-size: cover;
    background-position: center center; */

}
.contenedor2{
    grid-area: contenedor2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

.gran_contenedor{
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    overflow-y: auto;
}
.peliculas_recomendadas{
    flex-basis: calc(50% - 5px);
    height: 50%;
    margin-top: 5px;
    padding-left: 10px;
    padding-right:10px ;
    
} 

.peliculas_recomendadas img{
    width:100%;
    height: 100%;
    border-radius: 10px;
    border:2px solid #260028;
    transition: transform 0.3s ease;
    /* width: 100%;
    height: 100%; */
} 
.peliculas_recomendadas img:hover{
    transform: scale(1.05);
}

.logoBar{
    color: #fcc8ff;
}
/* contenedor con datos de pelicula */

.datos_trailer{
    height: 100%;
    position: relative;
    width: 95%;
    margin: auto;
    padding-top: 20px;
    /* border: 2px #260028 solid; */
}
.contenedor_video{
    border-radius: 5px; 
    overflow: hidden;
    background-color: #260028;
}
.datos_trailer iframe{
    width: 100%;
    height: 100%;
    
 
}
h1{
    color: #F2BE22;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 32px;
}
p {
    margin-top: 9px;
    color: #333; 
    font-size: 15px; 
    font-family: Arial, sans-serif; 
    line-height: 1.5; 
    padding: 10px; 
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.3);  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}
.contenedor_video{
    display: none;
}
.trailer{
    margin-top: 2%;
    display:block;
    width: fit-content;
    padding: 10px 20px; 
    background-color: #fcc8ff; 
    color: #000; 
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.trailer:hover {
    
    background-color: #260028; 
    color: #fff; 
    transition: transform 0.3s ease;
}
.ver{
    margin-top: 2%;
    display:block;
    width: fit-content;
    padding: 10px 20px; 
    background-color: #260028; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px;
    cursor: pointer; 
}
.ver:hover{
    background-color: #641a68; 
    color: #fff; 
    transform: scale(1.05);
}

.descripcion_pelicula{
    text-align: center;
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: 0;
   
}
h2{
    color: #F2BE22;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 25px;
    text-align: left;
    width: 95%;
    margin: auto;
}
.logoBar{
    color: #fcc8ff;
}
.on{
    display: block;
}

@media screen and (min-width: 640px)  {
   
    .datos_trailer{
        width: 95%;
        margin: auto;
    }
    .descripcion_pelicula{
        width: 80%;
    }
    h2{
        width: 95%;
        margin: auto;
    }
    .gran_contenedor{
        width: 95%;
        margin: auto;
    }
    .contenedor_video{
       display: block;
       width: 40%;
       height: 45%;
    }
    .contenedor_video iframe{
        width: 100%;
        height: 100%;
    }
    .trailer{
        display: none;
    }
    .peliculas_recomendadas{
        flex-basis: calc(33.3% - 5px);
        height: 50%;
        margin-top: 5px;
    } 
    .logoBar{
        width: 100%;
        
        font-size: 1rem;
    }
    .fontBar{
        display: none;
    }
    .on{
        display: block;
    }
    
}

@media screen and (min-width: 900px) {
    main{
        background-image: url("../img/john\ wick\ 4.jpg");
        background-position:  center;
      
    }
    .datos_trailer{
        width: 90%;
        margin: auto;
    }
    .contenedor_video{
        width: 30%;
        height: 45%;
        border: 5px #260028 solid;
    }
    .ver{
        margin-top: 5px;
    }
    .descripcion_pelicula{
        width: 50%;
    }
    .descripcion_pelicula p{
        font-size: 15px;
    }
    .gran_contenedor{
        width: 90%;
        margin: auto;
        overflow-y: hidden;
    }
    h2{
        width: 90%;
        margin: auto;
    }
    .peliculas_recomendadas{
        flex-basis: calc(25% - 5px);
        height: 45%;
        margin-top: 5px;
    } 
    .peliculas_recomendadas img{
        width: 80%;
    }
     .contenedor_nav span{
        display: inline;
    } 
    .contenedor_perfil span{
        display: inline-block;
    }
    .contenedor_perfil i{
      margin-left: 10px;  
    } 
    .logoBar{
        width: 100%;
        
        font-size: 1rem;
    }
    .fontBar{
        display: block;
    }
    header{
        grid-area: header;
        background-color: aqua;
        display: grid;
        grid-template-columns: 10% 70% 20%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "icono navegador perfil";
    }
    .perfil{
        justify-content: right;
    }

    /* .contenedor2{
        display: flex;
        justify-content: space-around;
    }
    .contenedor2 div {
        height: 70%;
        width: calc(24% - 3px);
    }
    .peliculas_recomendadas img{
        width: 100%;
    } */
   ul li a:hover{
    border: 2px #fcc8ff solid;
   }
}