*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #260028; 
}

header{
    position: sticky;
    display: flex;
    height: 90px;
    background-color: #080008;
}
header section{
    width: 10%;
    height: 100%;
}
.contenedor_logo {
    max-width: 30%;
    height: 100%;
    display: flex;
    align-items: center; /* Para centrar verticalmente la imagen */
}
.contenedor_inicio {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.contenedor_perfil {
    background-color: #fcc8ff;
    max-width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}
.contenedor_logo img {
    max-height: 100%; /* Para que la imagen no exceda la altura del contenedor */
    width: auto; /* Para mantener la relación de aspecto */
    max-width: 100%; /* Para que la imagen no exceda el ancho del contenedor */
}
.contenedor_perfil span{
    font:100;
    font: bold;
    font-family: Arial, san-serif;
    color: #260028;
}
.contenedor_inicio span{
    font:100;
    font: bold;
    font-family: Arial,Bold , san-serif;
    color: rgb(252, 200, 255);
}

.icono{
    color: rebeccapurple;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (min-width:45em){
   .contenedor_logo{
    /*background-color: #fcc8ff;*/
    max-width: 60%;
   }
}
