* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url("../img/john\ wick\ 4.jpg");
    background-size: cover;
     /* background-color: #260028; 
    background-blend-mode: overlay; */
}

header {
    display: flex;
    height: 90px;
    background-color: #080008;
}

.contenedor_logo {
    
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
    /* border: 2px #fcc8ff solid ; */
}
nav{
    width: 80%;
}

nav ul {
 
    display: flex;
    list-style: none;
    flex: 4; /* Ajusta según la necesidad de espacio */
    align-items: flex-start;
    /* border: 2px #fcc8ff solid ; */
    height: 100%;
}

.contenedor_nav {
   width: 25%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border: 2px #32a83c solid ; */
}

.contenedor_perfil {
    width: 10%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contenedor_logo img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.contenedor_nav span {
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #260028;
}

.contenedor_perfil span{
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(252, 200, 255);
}
.contenedor_perfil i{
    color: rgb(252, 200, 255);
    font-size: 30px;
    margin-left: 10px;
}
.contenedor_nav span {
    color: rgb(252, 200, 255);
}
/* ******************************************************* */
main{
    width: 90%;
    margin: auto;
}
.contenedor_general{
    margin-top: 40px;
    width: 50%;
    display: flex;
    justify-content: left;
    /* border: 2px #260028 solid; */
    
}
.datos_trailer{
    width: 60%;
    /* border: 2px #260028 solid; */
}
.contenedor_video{
    border-radius: 5px; 
    overflow: hidden;
}
.datos_trailer iframe{
    width: 100%;
 
}
h1{
    color: #F2BE22;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 32px;
}
p {
    margin-top: 9px;
    color: #333; 
    font-size: 18px; 
    font-family: Arial, sans-serif; 
    line-height: 1.5; 
    padding: 10px;
    border-radius: 5px; 

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}


@media screen and (min-width: 45em) {
    .contenedor_logo {
        max-width: 20%;
    }
    nav ul {
        max-width: 60%;
    }
    .contenedor_perfil {
        max-width: 20%;
    }
}