
@keyframes cambioDeFondo {
    0%  { background-color: #260028; }
    25% { background-color: #340636; }
    50% { background-color: #2d0b36; }
    75% { background-color: #340636; }
    100%{ background-color: #260028; }
} 
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../img/abstract-black-background-with-polygonal-shapes.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #260028;
  animation: cambioDeFondo 4s infinite;
}

.contenedor_general {
  background-image: url("../img/abstract-black-background-with-polygonal-shapes.jpg");

  background-color: #260028;
  background-blend-mode: overlay;
    background-size:cover;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(39, 7, 54, 0.9);
  color: white;
}

.contenedor_logo {
  text-align: center;
}

img {
  width: 300px;
}

.presentacion {
  text-align: center;
  padding: 10px;
}
.presentacion form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}
.presentacion form label {
  text-align: left;
}

.presentacion form .boton {
  margin-top: 10px;
  width: 50%;
  cursor: pointer;
  background-color: #aa2467;
  color: white;
}

.presentacion form #boton_cancelar {
  background-color: rgb(110, 0, 0);
  color: white;
}
.presentacion form .metodos_de_pago{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.presentacion form .formulario_principal{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.presentacion form .formulario_principal input{
  width: calc(100% - 10px);
  padding: 5px;
  margin: 5px;
}

.presentacion form .metodos_de_pago .fila_tarjeta, .fila_cupon, .fila_cbu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.presentacion form .metodos_de_pago .fila_tarjeta label{
  width: calc(20% - 10px);  
}

.presentacion form .metodos_de_pago .fila_tarjeta #radio_tarjeta{
  max-width: calc(10% - 10px);
}

.presentacion form .metodos_de_pago .fila_tarjeta #numero_tarjeta{
  width: calc(50% - 10px);
  margin: 10px 0px;
}

.presentacion form .metodos_de_pago .fila_tarjeta #codigo_seguridad{
  width: calc(20% - 10px);
  margin: 10px 0px;
}

.presentacion form .metodos_de_pago .fila_cupon label{
  max-width: calc(15% - 10px);
}

.presentacion form .metodos_de_pago .fila_cupon #radio_cupon{
  width: calc(10% - 10px);
}

.presentacion form .metodos_de_pago .fila_cupon input[type="checkbox"]{
  width: calc(20% - 10px);
  margin: 20px 0px;
}

.presentacion form .metodos_de_pago .fila_cbu label{
  width: calc(30% - 10px);
}

.presentacion form .metodos_de_pago .fila_cbu input{
  width: calc(10% - 10px);
}

.presentacion form .metodos_de_pago .fila_cbu h2{
  width: 100%;
}
.boton{
    background-color: #aa2467; /* Amarillo */
    color: white; /* Color de texto que contrasta */
    margin-top: 10px;
    padding: 7px;    
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    box-shadow: 0px 2px 4px rgba(230, 226, 226, 0.1)
}
.boton:hover {
    background-color: black; 
    color: #fbc8fb ; 
    text-decoration: underline; 
    font-weight: bold;
}
html, body {
  overflow-x: hidden;
}
@media (min-width:1024px) {
  .contenedor_general {
    flex-direction: row;
    width: 80%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
  }
  .contenedor_general .presentacion {
    width: calc(75% - 10px);
  }
  .contenedor_general .contenedor_logo {
    width: calc(25% - 10px);
  }
  .contenedor_general .presentacion form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  .contenedor_general .presentacion form .formulario_principal,
  .metodos_de_pago {
    width: calc(49% - 10px);
  }
  .contenedor_general .presentacion form .botones {
    width: 100%;
  }

  .contenedor_general .presentacion form .botones .boton {
    width: 50%;
    padding: 15px;
    font-size: 20px;
  }

  .contenedor_general .presentacion form .botones .boton:hover {
    background-color: #1b001b !important;
  }
  
  .contenedor_general .contenedor_logo img{
    max-width: 100%;
    max-height: 100%;
  }


}
